.navbar-body{
    background-color: rgba(0,0,0,0.1);  /* Set the transparency to 0.3 */
    position: absolute;
    width: 100%;
    padding: 35px 60px 15px 60px;
    
}

.navbar-link{
    text-decoration: none;
    color: #ffffff;
    padding: 0 25px;
}

.nav-button{
    background-color: #00AD98;
    padding: 10px;
    height: 52px;
    border-radius: 25px;
    display: flex;
    align-items:center;
    border: none;
    justify-content:center;
}